html {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #EEEEEE;
  background-image: url("../images/fruit.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

body {
  color: #D8D9DE;
  width: 400px;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 16px 0px rgba(50, 50, 50, 0.61);
  background-color: #3F3F3F;;
}

form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
  width: 100%;
  color: #EF5252;
  font-weight: 500;
  font-weight: lighter;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

label {
  font-size: 0.8em;
  margin-bottom: 0.25em;
  color: #222;
  font-weight: lighter;
}

input {
  padding: 10px 10px;
  display: block;
  font-size: 18px;
  color: 1a1a1a;
  transform: translateY(-25px);
  border-bottom: 2px solid #EF5252;
  transition: 0.4s ease all;
  text-align: left;
}

input::placeholder {
  font-size: 1.2em;
  font-weight: lighter;
  color: red;;
}

.user_name,
.password,
input::placeholder {
text-align: center;
}

input.error {
  border: 1px solid blue;
}

.errorMessage {
  color:blue;
  font-size: 0.75em;
  display: relative;
}


.user_name {
  margin-left: 1%;
}

.retype-password
{
  margin-left: 1%;
}

.user_name,
.password,
.input#retype-password {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.user_name,
.password {
  width: 100%;
  text-align: center;
}

.button#submit-login {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.demoLogin {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.demoLogin button {
  background-color:#EF5252;;
  color: #fff;
  border: 2px solid #fff;
  width: 100%;
  margin-top: 1em;
  padding: 8px 0px;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
}

.demoLogin button:hover {
  color: #9e519e;
  background-color: #fff;
  border: 2px solid #9e519e;
}

small {
  margin-top: 1em;
  color: #999;
  font-weight: lighter;
  padding-left: 75px;
}