.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #EEEEEE;
  background-image: url("../images/fruit.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

.form-wrapper {
  color: #D8D9DE;
  width: 400px;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 16px 0px rgba(50, 50, 50, 0.61);
  background-color: #3F3F3F;;
}

form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
  width: 100%;
  color: #EF5252;
  font-weight: 500;
  font-weight: lighter;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

label {
  font-size: 0.8em;
  margin-bottom: 0.25em;
  color: #222;
  font-weight: lighter;
}

input {
  padding: 10px 10px;
  display: block;
  font-size: 18px;
  color: 1a1a1a;
  transform: translateY(-25px);
  border-bottom: 2px solid #EF5252;
  transition: 0.4s ease all;
  text-align: left;
}

input::placeholder {
  font-size: 1.2em;
  font-weight: lighter;
  color: red;;
}

input.error {
  border: 1px solid blue;
}

.errorMessage {
  color:blue;
  font-size: 0.75em;
  display: relative;
}

.firstName {
  margin-right: 1%;
}

.lastName {
  margin-left: 1%;
}

.firstName,
.lastName,
.email,
.password {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.firstName,
.lastName {
  width: 49%;
}

.email,
.password {
  width: 100%;
}

.createAccount {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createAccount button {
  background-color:#EF5252;;
  color: #fff;
  border: 2px solid #fff;
  width: 100%;
  margin-top: 1em;
  padding: 8px 0px;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
}

.createAccount button:hover {
  color: #519e8a;
  background-color: #fff;
  border: 2px solid #519e8a;
}

.createAccount small {
  margin-top: 1em;
  color: #999;
  font-weight: lighter;
}
/* body, html {
    height: 100%;
  }
  
body {
    width: 100%;
    background-color: #EEEEEE;
    background-image: url("../images/fruit.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
  }
  
  .formContainer {
    color: #D8D9DE;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 28px;
    background-color: #3F3F3F;
    border-radius: 5px;
    box-shadow: 0px 0px 16px 0px rgba(50, 50, 50, 0.61);
    width: 500px;
    height: 100%;
    margin: auto;
    margin-top: 75px;
  }
  
  .formHeader {
    height: 50px;
    margin-bottom: 40px;
    position: relative;
  }
  
  .formBody {
    height: 70%;
  }
  
  .formFooter {
    height: 100px;
  }
  .saveForm {
    outline: none;
    border: none;
    color: #D8D9DE;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    width: 150px;
    height: 40px;
    background-color: transparent;
    margin-top: 20px;
    border: 2px solid #EF5252;
    transition: all 0.3s ease;
  }
  .saveForm:hover {
    background-color: #EF5252;
    color: #3F3F3F;
  }
  .saveForm:active {
    transform: scale(1.2)
  }
  .headerActive {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    width: 50%;
    height: 100%;
    background-color: #3F3F3F;
    color: #D8D9DE !important;
  }
  .headerInActive {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    width: 50%;
    height: 100%;
    background-color: #EF5252;
    color: #3F3F3F;
    transition: all 0.3s ease;
  }
  .headerInActive:hover {
    background-color: #3F3F3F;
  }
  .headerButton {
    outline: none;
    border: none;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    background-color: transparent;
    transition: all 0.5s ease;
    padding-top: 10px;
    color: #D8D9DE;
    z-index: 12;
  }
  .headerText {
    margin-top: 5px;
    margin-bottom: 25px;
    z-index: 12;
  }
  input {
    outline: none;
    border: none;
    background-color: transparent;
    height: 40px;
    border-bottom: 2px solid #EF5252;
    color: #D8D9DE;
    font-size: 18px;
  }
  input::placeholder {
    color: red;
  }
  
  .inputSectionSplit {
    margin-bottom: 25px;
    width: 45%;
    display: inline-block;
  }
  .inputSection{
    margin-bottom: 25px;
    width: 90%;
    margin: auto;
    margin-bottom: 25px;
  }
  .firstName {
    width: 100%;
    display: block;
    transition: 0.3s ease all; 
  }
  .lastName {
    width: 100%;
    display: block;
    transition: 0.3s ease all; 
  }
  .inputLabel {
    pointer-events: none;
    display: block;
    font-size: 18px;
    color: #D8D9DE;
    transform: translateY(-25px);
    transition: 0.4s ease all;
    text-align: left;
  }
  .emailAddress {
    width: 100%;
    display: block;
    transition: 0.3s ease all;
  }
  .password {
    width: 100%;
    display: block;
    transition: 0.3s ease all;
  }
  .userName {
    width: 100%;
    display: block;
    transition: 0.3s ease all;
  }
  
  .firstName:focus + .inputLabel {
    transform: translateY(5px);
  }
  .firstName:valid + .inputLabel {
    transform: translateY(5px);
  }
  .lastName:focus + .inputLabel {
    transform: translateY(5px);
  }
  .lastName:valid + .inputLabel {
    transform: translateY(5px);
  }
  .emailAddress:focus + .inputLabel {
    transform: translateY(5px);
  }
  .emailAddress:valid + .inputLabel {
    transform: translateY(5px);
  }
  .password:focus + .inputLabel {
    transform: translateY(5px);
  }
  .password:valid + .inputLabel {
    transform: translateY(5px);
  }
  .userName:focus + .inputLabel {
    transform: translateY(5px);
  }
  .userName:valid + .inputLabel {
    transform: translateY(5px);
  } */