.App {
  text-align: center;
}


body {
  padding-top: 3.5rem;
}

/* index */
.jumbotron {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/fruit.png");
}

/* items */
.search-form-inline {
  margin-top: 5px;
}


