.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  padding-top: 3.5rem;
}

/* index */
.jumbotron {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(./Components/images/fruit.png) center top/cover no-repeat;
}

/* items */
.search-form-inline {
  margin-top: 5px;
}

/* map */
.extents-map {
  height: 300px;
}
.extents-map.esri-view {
  margin-bottom: 20px;
}
